<form action="https://gmail.us3.list-manage.com/subscribe/post?u=615c5a55fda696f16e9e4574f&amp;id=a0bff72384" method="post" id="mc-signup" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_615c5a55fda696f16e9e4574f_a0bff72384" tabindex="-1" value="">
  </div>

  <div class="form-group">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email"  style="font-size: 0.8em;" required>
  </div>

  <div class="form__btn">
    <input type="submit" value="sign up" name="subscribe" id="mc-submit" style="font-size: 0.8em;">
  </div>
</form>
<p class="subscribe__error hidden"></p>
