//----------------------------------------------
// Subscribe
//----------------------------------------------
.subscribe {
  &__container {
    @extend %auto-margin;

    max-width: $mq-small;
  }

  &__title {
    @extend %font-header;
    @extend %text-center;

    display: block;

    font-size: $font-small;
  }

  &__text {
    @extend %text-center;

    font-size: $font-small;

    margin: {
      top: 0.5em;
      bottom: 1em;
    };
  }

  &__error {
    @extend %font-header;
    @extend %text-center;

    margin: {
      top: 0.75em;
      bottom: 0;
    }

    color: $color-alpha;
  }
}
